
html, body {
  margin: 0;
  height: 100%;
}

.container {
  width: 80%; /*can be in percentage also.*/
  height: auto;
      margin: 0 auto;
      padding: 0px;
      position: relative;
}

.main-content {
    top: 160px;
    left: 160px;
    width: 800px;
    min-height: 500px;
    height: auto;
    /*background-color: #2185C5;*/
    position: relative;
}

.paused{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}

#controlling {
  position: relative;
}

.top-fade {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
